<div class="row" data-item="<%= value %>">
  <div class="form-group col-xs-5">
    <label for="tpl-headline-currency-<%= value %>">Moneda</label>
    <input type="text" name="titlePrice" class="form-control" id="tpl-headline-currency-<%= value %>" placeholder="Moneda">
  </div>
  <div class="form-group col-xs-5">
    <label for="tpl-headline-price-<%= value %>">Precio</label>
    <input type="text" name="titlePrice" class="form-control" id="tpl-headline-price-<%= value %>" placeholder="Precio">
  </div>
  <div class="col-xs-1 form-group">
    <button type="button" title="Remover precio" class="btn btn-default btn-success pull-right add-headline-price add-item">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
  <div class="col-xs-1 form-group">
    <button type="button" title="Remover precio" class="btn btn-default btn-danger pull-right remove-headline-price remove-item">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </div>
</div>
