<div class="row tpl-headline-<%= value %>" data-item="<%= value %>">
  <div class="form-group col-xs-10">
    <label for="tpl-headline-<%= value %>">Headline</label>
    <input type="text" name="titleBanner" class="form-control" id="tpl-headline-<%= value %>" placeholder="Headline">
  </div>
  <div class="col-xs-1 form-group">
    <button type="button" title="Agregar otro Headline" class="btn btn-default btn-success pull-right add-headline add-item">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>

  <div class="col-xs-1 form-group">
    <button type="button" title="Remover Headline" class="btn btn-default btn-danger pull-right remove-headline remove-item">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </div>
</div>
