<div class="row" data-item="<%= value %>">
  <div class="form-group col-xs-8">
    <label for="tpl-content<%= value %>">Información</label>
    <input type="text" name="<%= typeof(name)!== 'undefined' ?  name : 'paragraphs' %>" class="form-control" id="tpl-content<%= value %>" placeholder="Información">
  </div>
  <div class="checkbox col-xs-2">
    <label><input type="checkbox" name="<%= typeof(name)!== 'undefined' ?  name : 'paragraphs' %>">Strong</label>
  </div>
  <div class="col-xs-1 form-group">
    <button type="button" title="Agregar otra información" class="btn btn-default btn-success pull-right add-info add-item">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
  <div class="col-xs-1 form-group">
    <button type="button" title="Remover Información" class="btn btn-default btn-danger pull-right remove-info remove-item">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </div>
</div>
