<div class="row tpl-sub-headline-<%= value %>" data-item="<%= value %>">
  <div class="form-group col-xs-10">
    <label for="tpl-sub-headline-<%= value %>">Sub Headline</label>
    <input type="text" name="subtitleBanner" class="form-control" id="tpl-sub-headline-<%= value %>" placeholder="Sub Headline">
  </div>
  <div class="col-xs-1 form-group">
    <button type="button" title="Agregar otro Sub Headline" class="btn btn-default btn-success pull-right add-sub-headline add-item">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
  <div class="col-xs-1 form-group">
    <button type="button" title="Remover Sub Headline" class="btn btn-default btn-danger pull-right remove-sub-headline remove-item">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </div>
</div>
