<div class="row title-promo-<%= value %>" data-item="<%= value %>">
  <div class="form-group col-xs-10">
    <label for="title-promo-<%= value %>">Título promoción</label>
    <input type="text" name="titlePromo" class="form-control" id="title-promo-<%= value %>" placeholder="Título de la promoción">
  </div>
  <div class="col-xs-1 form-group">
    <button type="button" title="Agregar otro título" class="btn btn-default btn-success pull-right add-title-promo add-item">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
  <div class="col-xs-1 form-group">
    <button type="button" title="Remover título" class="btn btn-default btn-danger pull-right remove-title-promo remove-item">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </div>
</div>
